.tabs{
    position: relative;
    display:flex;
    align-items: center;
    width: 100%;
    height: 595px;
    background-image: url($pic09);
    fill: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;
    opacity: 0.8;
    cursor:pointer;
    
}


.tab{
    display: flex;
    align-items: center;
    max-width: 920px;
    max-height: fit-content;
    gap: 40px;
    transform: translateX(10px) rotateY(90deg);
    opacity: 0;
    transition: 1s;
}




.tabAnimation {
    opacity: 1;
    transform: translateX(0) rotate(0);
}

        
.btn button{
    display:flex;
    flex-direction: column;
    background-image: url($pic10);
    background-position: center;
    width: 100px;
    height: 100px;
    opacity: 1;
    border-color:#E27866;
    margin-left: 151px;
    margin-top: 20px;
    cursor: pointer;
    
    
    

 span{
        max-width: 64px;
        max-height: 64px;
        margin: auto;
        transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
        text-align: left;
        font: normal normal 600 14px/20px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
 }

}

.text h2{

        max-width: 509px;
        max-height: 124px;
        text-align: left;
        font: normal normal 600 25px/40px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-left: 40px ;
}
.text h5{
        max-width: 517px;
        max-height: 138px;
        text-align: left;
        font: normal normal normal 14px/20px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-left: 40px;

        
}

.pictures{
    
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    max-width: 362px;
    max-height: 370px;

   
   
    


  .section2_img:nth-of-type(1){
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 168px;
        background-image: url($pic11);
        background-position: center;
        background-size: cover;

    span{   
            max-width: 78px;
            max-height: 24px;
            font: normal normal 600 20px/24px Montserrat;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
    }    
        

  
}
.section2_img:nth-of-type(2){
        width: 168px;
        height: 168px;
        background-image: url($pic12);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
     
        
 }
.section2_img:nth-of-type(3) {
    width: 366px;
    height: 177px;
    background-image: url($pic13);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
}

.section2_img_2{
        width: 168px;
        height: 150px;
        margin-top: 5px;
        margin-left:5px;
        background-image: url($pic14);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    


}

.section2_img_3 {
    width: 168px;
    height: 150px;
    margin-top: 5px;
    background-image: url($pic15);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}