



$pic01:  "./images/4.png";
$pic02:  "./images/imgsec1.png";
$pic03:  "./images/imgsec1_2.png";
$pic04:  "./images/3.png";
$pic05:  "./images/instagram-logo.png";
$pic06:  "./images/twitter.png";
$pic07:  "./images/5.png";
$pic08:  "./images/2.png";
$pic09:  "./images/1.png";
$pic10:  "./images/tab_1_button_u83_selected.svg";
$pic11:  "./images/section2_1.png";
$pic12:  "./images/section2_2.png";
$pic13:  "./images/section2_3.png";
$pic14:  "./images/apply.png";
$pic15:  "./images/receive.png";
$pic16:  "./images/tab_2_button_u85_mouseover.png";
$pic17:  "./images/divider_orange_u7_copy_3.png";
$pic18:  "./images/medal-icon-png-0.png";
$pic19:  "./images/card_header_u266.png";
$pic20:  "./images/card_price_u268.png";
$pic21:  "./images/u273.png";
$pic22:  ".app/css/images/card_sub_text_u270@2x.png";











$header-color: rgba(28, 28, 28, 1);
$header-text-color: rgba(255, 255, 255, 1)