



$pic01:  "../images/4.png";
$pic02:  "/app/css/images/imgsec1.png";
$pic03:  "/app/css/images/imgsec1_2.png";
$pic04:  "/app/css/images/3.png";
$pic05:  "/app/css/images/instagram-logo.png";
$pic06:  "/app/css/images/twitter.png";
$pic07:  "/app/css/images/5.png";
$pic08:  "/app/css/images/2.png";
$pic09:  "/app/css/images/1.png";
$pic10:  "/app/css/images/tab_1_button_u83_selected.svg";










$header-color: rgba(28, 28, 28, 1);
$header-text-color: rgba(255, 255, 255, 1)